.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 30%;
    margin-top: 40px;
}

.form__input {
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(36, 63, 99);
    transition: background-color .3s linear;
    color: white;
}

.form__input:hover {
    background-color: rgb(83, 113, 152);
}

.form__input::placeholder {
    color: white;
}